/*  your css code here. If applicable */
.player_one{
	background-color : white;
	border : 1px solid;
}
.player_two{
	background-color : white;
	border : 1px solid;
}
/* .main{
	background-color : lightgrey;
	padding : 20px;
} */
body{
	background-color : #cccccc;
}